[Desktop Entry]
Encoding=UTF-8
Name=Axelcoin
Comment=Axelcoin P2P Cryptocurrency
Comment[fr]=Axelcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Axelcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/Axelcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/Axelcoin;
Categories=Office;
